.u-section-1 .u-sheet-1 {
    min-height: 1515px;
}

.u-section-1 .u-text-1 {
    font-family: 'Amiri', serif;
    font-family: 'Cairo', sans-serif;
    font-size: 3.75rem;
    width: 771px;
    text-shadow: -2px 2px 8px rgb(12, 7, 7);
    margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
    font-style: italic;
    font-size: 1.125rem;
    margin: 16px 267px 0;
}

.u-section-1 .u-list-1 {
    width: 822px;
    min-height: 1194px;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    grid-gap: 10px 10px;
    margin: 91px auto 60px;
}

.u-section-1 .u-container-layout-1 {
    padding: 30px 0 30px 30px;
}

.u-section-1 .u-image-1 {
    width: 308px;
    height: 400px;
    margin: 0 auto 0 0;
}

.u-section-1 .u-group-1 {
    width: 464px;
    min-height: 331px;
    margin: -308px 0 0 auto;
}

.u-section-1 .u-container-layout-2 {
    padding: 0 0 0 30px;
}

.u-section-1 .u-text-3 {
    font-size: 2.25rem;
    text-transform: uppercase;
    background-image: none;
    margin: 0;
}

.u-section-1 .u-line-1 {
    height: 3px;
    transform-origin: left center;
    margin: 16px auto 0 0;
}

.u-section-1 .u-text-4 {
    margin: 20px 0 0;
}

.u-section-1 .u-container-layout-3 {
    padding: 30px 0 30px 30px;
}

.u-section-1 .u-image-2 {
    width: 308px;
    height: 308px;
    margin: 0 auto 0 0;
}

.u-section-1 .u-group-2 {
    width: 464px;
    min-height: 331px;
    background-size: auto;
    margin: -308px 0 0 auto;
}

.u-section-1 .u-container-layout-4 {
    padding: 0 0 0 30px;
}

.u-section-1 .u-text-5 {
    font-size: 2.25rem;
    text-transform: uppercase;
    background-image: none;
    margin: 0;
}

.u-section-1 .u-line-2 {
    height: 3px;
    transform-origin: right center;
    margin: 16px auto 0 0;
}

.u-section-1 .u-text-6 {
    margin: 20px 0 0;
}

.u-section-1 .u-container-layout-5 {
    padding: 30px 0 30px 30px;
}

.u-section-1 .u-image-3 {
    width: 308px;
    height: 308px;
    margin: 0 auto 0 0;
}

.u-section-1 .u-group-3 {
    width: 464px;
    min-height: 331px;
    background-size: auto;
    margin: -308px 0 0 auto;
}

.u-section-1 .u-container-layout-6 {
    padding: 0 0 0 30px;
}

.u-section-1 .u-text-7 {
    font-size: 2.25rem;
    text-transform: uppercase;
    background-image: none;
    margin: 0;
}

.u-section-1 .u-line-3 {
    height: 3px;
    transform-origin: right center;
    margin: 16px auto 0 0;
}

.u-section-1 .u-text-8 {
    margin: 20px 0 0;
}

@media (max-width: 1199px) {
    .u-section-1 .u-text-1 {
        animation-duration: 1000ms;
    }
    .u-section-1 .u-text-2 {
        margin-left: 167px;
        margin-right: 167px;
    }
    .u-section-1 .u-list-1 {
        height: auto;
    }
    .u-section-1 .u-image-1 {
        background-position: 50% 50%;
    }
    .u-section-1 .u-line-1 {
        margin-right: initial;
        margin-left: initial;
    }
    .u-section-1 .u-image-2 {
        background-position: 50% 50%;
    }
    .u-section-1 .u-line-2 {
        margin-right: initial;
        margin-left: initial;
    }
    .u-section-1 .u-image-3 {
        background-position: 50% 50%;
    }
    .u-section-1 .u-line-3 {
        margin-right: initial;
        margin-left: initial;
    }
}

@media (max-width: 991px) {
    .u-section-1 .u-text-1 {
        width: 720px;
    }
    .u-section-1 .u-text-2 {
        margin-left: 57px;
        margin-right: 57px;
    }
    .u-section-1 .u-list-1 {
        width: 720px;
    }
    .u-section-1 .u-container-layout-1 {
        padding-left: 0;
    }
    .u-section-1 .u-group-1 {
        width: 396px;
    }
    .u-section-1 .u-container-layout-3 {
        padding-left: 0;
    }
    .u-section-1 .u-group-2 {
        width: 396px;
    }
    .u-section-1 .u-container-layout-5 {
        padding-left: 0;
    }
    .u-section-1 .u-group-3 {
        width: 396px;
    }
}

@media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
        min-height: 2374px;
    }
    .u-section-1 .u-text-1 {
        width: 540px;
        font-size: 3rem;
    }
    .u-section-1 .u-text-2 {
        margin-left: 0;
        margin-right: 0;
    }
    .u-section-1 .u-list-1 {
        min-height: 1988px;
        margin-right: initial;
        margin-left: initial;
        width: auto;
    }
    .u-section-1 .u-image-1 {
        width: 325px;
        height: 325px;
    }
    .u-section-1 .u-group-1 {
        min-height: 258px;
        width: 541px;
        margin-top: 30px;
        margin-right: auto;
        margin-left: 0;
    }
    .u-section-1 .u-container-layout-2 {
        padding-left: 0;
    }
    .u-section-1 .u-image-2 {
        width: 325px;
        height: 325px;
    }
    .u-section-1 .u-group-2 {
        min-height: 258px;
        width: 541px;
        margin-top: 30px;
        margin-right: auto;
        margin-left: 0;
    }
    .u-section-1 .u-container-layout-4 {
        padding-left: 0;
    }
    .u-section-1 .u-image-3 {
        width: 325px;
        height: 325px;
    }
    .u-section-1 .u-group-3 {
        min-height: 258px;
        width: 541px;
        margin-top: 30px;
        margin-right: auto;
        margin-left: 0;
    }
    .u-section-1 .u-container-layout-6 {
        padding-left: 0;
    }
}

@media (max-width: 575px) {
    .u-section-1 .u-text-1 {
        font-size: 2.25rem;
        margin-top: 61px;
        margin-left: 0;
        margin-right: 0;
        width: 340px;
    }
    .u-section-1 .u-text-2 {
        margin-top: 15px;
    }
    .u-section-1 .u-image-1 {
        margin-left: auto;
    }
    .u-section-1 .u-group-1 {
        width: 340px;
        margin-right: 0;
    }
    .u-section-1 .u-text-3 {
        font-size: 1.5rem;
    }
    .u-section-1 .u-image-2 {
        margin-left: auto;
    }
    .u-section-1 .u-group-2 {
        width: 340px;
        margin-right: 0;
    }
    .u-section-1 .u-text-5 {
        font-size: 1.5rem;
    }
    .u-section-1 .u-image-3 {
        margin-left: auto;
    }
    .u-section-1 .u-group-3 {
        width: 340px;
        margin-right: 0;
    }
    .u-section-1 .u-text-7 {
        font-size: 1.5rem;
    }
}